@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #1f232e;
  --elem-color: #48abe0;
  --txt-color: white;
}

*{
  margin: 0;
  padding: 0;
}

/* body{
  background-color: var(--bg-color);
} */

/* Not-Found */
.not-found{
  color: var(--elem-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2vh;
  padding: 1vw;
}

.home-btn {
  background-color: var(--elem-color);
  border: none;
  border-radius: 1vh;
  padding: 1vw;
  cursor: pointer;
}

/* Error */
.error{
  color: var(--elem-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2vh;
  padding: 1vw;
}

.error-btn {
  background-color: var(--elem-color);
  border: none;
  border-radius: 1vh;
  padding: 1vw;
  cursor: pointer;
}